@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root{
    --color1:#4F698C;
    --color2:#467302; 
    --color3:#BF9E60;
    --color4:#593C19;
    --color5:#BF3326;
    --color6:#22614E;
    --color7:#693524;
    --color8:#101112;
    --color9:#7BA1C9;

    --font-1: 'Bungee', cursive ;
    --font-2: 'PT Sans Narrow', sans-serif; ;
    --font-3: 'Bebas Neue', cursive;
    --font-4: 'Anton', sans-serif;
    --font-5: 'Rubik Moonrocks', cursive;
}

*{ margin: 0; padding: 0; box-sizing: border-box;}

html{ scroll-behavior: smooth;}


main { margin-top: 80px;}

main article { 
    padding-top: 2rem;
    width: 85%;
    margin: auto;
    border-bottom: 1px solid rgba(34, 34, 34, 0.233);
}
main article h1 { 
    text-align: center;
    font-family: var(--font-1);
    color: rgba(34, 34, 34, 0.39);
    font-size: 4rem;
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.712);
}

main section {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

main section .photoChef { width: 30%; }

main section .photoChef #photo img {  width: 100%;  height: 100%; }

main section .photoChef #info {  
    width: 100%;  height: auto;  text-align: center; padding: 1rem;  }

main section .photoChef #info a {
    text-decoration: none;
    color: #222;
    font-family: var(--font-2);
    font-size: 1.2rem;
}
main section .photoChef #info a:hover{
    color: rgba(34, 34, 34, 0.829);  text-decoration: underline;
}

main section .infoChef {  flex: 1;  }

main section .infoChef p {
    color: rgba(34, 34, 34, 0.795);
    font-size: 1.4rem;
    font-family: var(--font-2);
    text-align: justify;
    padding: 1rem;
}


/*  MEDIA QUERY  */

@media screen and ( max-width: 1100px) {

    main article h1 {  font-size: 3rem; }
    
    main section .infoChef p {  font-size: 1.2rem;   padding: .6rem;  }
}





@media screen and ( max-width: 720px) {

    main article h1 {  font-size: 1.8rem; }
    
    main section {  display: block;    margin-top: 0;   }

    main section .photoChef  {     width: 98%;     margin: auto;   }

    main section .photoChef #info a {  font-size: .9rem;}

    main section .infoChef p {  font-size: 1rem;   padding: .5rem;  }
}