@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root{
    --color1:#4F698C;
    --color2:#467302; 
    --color3:#BF9E60;
    --color4:#593C19;
    --color5:#BF3326;
    --color6:#22614E;
    --color7:#693524;
    --color8:#101112;
    --color9:#7BA1C9;

    --font-1: 'Bungee', cursive ;
    --font-2: 'PT Sans Narrow', sans-serif; ;
    --font-3: 'Bebas Neue', cursive;
    --font-4: 'Anton', sans-serif;
    --font-5: 'Rubik Moonrocks', cursive;
}

*{ margin: 0; padding: 0; box-sizing: border-box;}

html{ scroll-behavior: smooth;}



/*  MAIN   BIG SIZE   */


main{
    margin-top: 100px;
    width: 100%;
    height: auto;
}
main h1{
    text-align: center;
    font-family: var(--font-4);
    font-size: 4rem;
    color: #22614E;
    text-shadow: 1px 1px 1px #222;
    padding: 1rem;
}
main nav{
    margin: 2rem;
}
main nav ul{
    display: flex;
    justify-content: center;
    gap: 5%;
}
main nav ul li{
    list-style: none;
}
main nav ul li a{
    font-size: 3.5rem;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.822);
    font-weight: 600;
    font-family: var(--font-3);
    font-variant-caps:  all-petite-caps;
}
main nav ul li a:hover{
    color: #593c19cc;
    text-decoration: underline;
    font-weight: 400;
}

main .imagePasta{
    margin: auto;
    width: 70%;
    height: 700px;
}

main .imagePasta img{
    width: 100%;
    height: 100%;
}

main .menuPasta {
    padding: 2rem 0;
    width: 70vw;
    margin: auto;
    margin-bottom: 2rem;
}

main .menuPasta  .optionPasta {
    text-align: center;
    font-family: var(--font-4);
    padding: 1rem;
    font-size: 2rem;
    color: #222;
}

main .menuPasta { border-bottom: 1px solid rgba(34, 34, 34, 0.644); }

main  .majorSignal{
    cursor: pointer;
    text-align: center;
    color: #222;
    font-size: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main  .minorSignal{
    cursor: pointer;
    text-align: center;
    color: #222;
    font-size: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main  .discription{
    text-align: center;
    text-align-last: center;
    font-family: var(--font-2);
    padding: 1rem;
    color: rgba(34, 34, 34, 0.911);
    font-size: 1.5rem;
}

main .minorSignal1, .discription1{ display: none;}
main .minorSignal2, .discription2{ display: none;}
main .minorSignal3, .discription3{ display: none;}
main .minorSignal4, .discription4{ display: none;}
main .minorSignal5, .discription5{ display: none;}
main .minorSignal6, .discription6{ display: none;}
main .minorSignal7, .discription7{ display: none;}

main .minorSignal8, .discription8{ display: none;}
main .minorSignal9, .discription9{ display: none;}
main .minorSignal10, .discription10{ display: none;}
main .minorSignal11, .discription11{ display: none;}
main .minorSignal12, .discription12{ display: none;}
main .minorSignal13, .discription13{ display: none;}

main .minorSignal14, .discription14{ display: none;}
main .minorSignal15, .discription15{ display: none;}
main .minorSignal16, .discription16{ display: none;}
main .minorSignal17, .discription17{ display: none;}
main .minorSignal18, .discription18{ display: none;}

main .minorSignal19, .discription19{ display: none;}
main .minorSignal20, .discription20{ display: none;}
main .minorSignal21, .discription21{ display: none;}
main .minorSignal22, .discription22{ display: none;}







/*  MEDIA QUERY */
/*  FIRST IMAGE */
@media screen and (max-width: 1250px) {

    main .imagePasta{ height: 500px;}
}


@media screen and (max-width: 850px) {

    main nav ul li a{ font-size: 3rem; }

    main .imagePasta { width: 90%  }

    main .menuPasta  .optionPasta { 
        padding: .5rem;
        font-size: 1.5rem;
    }
}




@media screen and (max-width: 550px) {

    main nav ul li a { font-size: 2.5rem;}

    main .imagePasta{
        width: 98%; 
        height: 400px;
        margin-bottom: 1rem;
    }
    main .menuPasta {
        width: 90vw;
        padding: 0;
        margin-bottom: 1rem;
    }
    main .menuPasta  .optionPasta { 
        padding: 0;
        font-size: 1rem;
    }
    main  .discription{
        padding: .5rem;
        font-size: 1rem;
    }

}