@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root{
 
    user-select: none;

    --font-1: 'Bungee', cursive ;
    --font-2: 'PT Sans Narrow', sans-serif; ;
    --font-3: 'Bebas Neue', cursive;
    --font-4: 'Anton', sans-serif;
    --font-5: 'Rubik Moonrocks', cursive;

    --color1:#D90416;
    --color2:#067302; 
    --color3:#BFA004;
    --color4:#D97904;
    --color5:#F2D7B6;


}


body{transition: all 500ms ease-in-out;}



/*ICONS*/

.contactIcons{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 1%;
    cursor: pointer;
    background-color: #222222;
}
.contactIcons:hover{opacity: 60%;}

.badge{color: var(--color4); background-color: var(--color5); }

.bi-cart{
    font-size: 30px;
    font-weight: 700;
    color: var(--color4);
}

.linkWhats{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 1%;
    font-size: 30px;
    transition: all 300ms ease-in-out;
    background-color: var(--color2);
    color: var(--color5);
}
.linkWhats:hover{font-size: 35px;}








/*HEADER*/

header{
    background-image: url(img/dishes/verticalRizzoto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.navbar{
    background-color: rgba(245, 222, 179, 0.432);
}


.logo{  
    width: 100px;
    transition: all 0.5s ease-in-out;
}
.logo:hover{opacity: 60%;}

.nav-link{font-weight: 700; color: var(--color2); }



.titleGreen{
    position: absolute;
    bottom: 14%;
    right: 17%;
    font-family: var(--font-5);
    color: var(--color2);
    font-size: 4.5rem;
    text-shadow: 1px 1px 1px #222222c0;
    
}
.titleBites{
    position: absolute;
    bottom: 10%;
    right: 20%;
    font-family: var(--font-4);
    color: var(--color1);
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: 1px 1px 1px #222222c0;
}


.animationSlideDownOnBites{ animation: slideDownBites  4s; }
.animationSlideDownOnGreen{ animation: slideDownGreen 2s;}

@keyframes slideDownGreen { 
    from{ line-height: 1500px; opacity: 0; } 
    to{line-height: 20px; opacity: 1;} 
}

@keyframes slideDownBites { 
    from{ line-height: 1500px; opacity: 0; } 
    to{line-height: 20px; opacity: 1;} 
}











/*MAIN*/

main{ background-color: var(--color5);}

.divInfo{background-color: var(--color4);}

.divInfo h1{
    font-family: var(--font-4);
    font-size: 2.5rem;
    color: var(--color2);
    font-variant-caps: all-petite-caps;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.473), rgba(245, 222, 179, 0.342), transparent);
    box-shadow: 2px 2px 2px #222222c5;
    text-shadow: 1px 1px 1px #2222228f;
}

.terra{ 
    font-size: 3.5rem;
    font-style: normal;
    font-family: var(--font-5);
}

.divInfo h6{
    color: rgba(255, 255, 255, 0.719);
    text-shadow: 1px 1px 1px #222222a1;
}

.divInfo h6 b{
    font-family: var(--font-3);
}





.titleDiscoveryMenu{
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    color: var(--color4);
    text-shadow: 1px 1px 1px #222;
    font-size: 3.5rem;
}



.hover{
    text-decoration: none;
    border: none;
    color: rgba(0, 128, 0, 0.753);
    font-size: 2rem;
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    transition: all 300ms ease-in-out;
}
.hover:hover{ text-decoration: underline;}

.imgHover img{
     transition: all 500ms ease-in-out;  
     border: 1px solid #22222227; 
}

.imgHover:hover{opacity: 60%;}








.titleOrganicAndLocal{
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    font-size: 3.5rem;
    color: var(--color4);
    text-shadow: 1px 1px 1px #222;
}

.txtOrganicAndLocal{
    font-family: var(--font-4);
    color: var(--color4);
    font-size: 1.2rem;
}





.btnOurMenu{
    text-decoration: none;
    font-family: var(--font-1);
    font-size: 2.5rem;
    color: var(--color5);
    background-color: var(--color2);
    text-shadow: 1px 1px 1px #222;
    box-shadow: 2px 2px 2px #222;
    transition: all 500ms ease-in-out;
}

    .btnOurMenu:hover{
        background-color: var(--color3);
        color: var(--color2);
    }
    

.card-img-overlay{
    background-color: #222222cc ;
    overflow: auto;

}
.card-text{
    font-family: var(--font-2);
    color: rgb(223, 174, 85);
    font-size: 1.2rem;
}
.card-text b::before{ content: "\00A0\1F517";}

.card-text a{
    text-decoration: none;
    font-family: var(--font-3);
    color: var(--color5);
    font-size: 1.2rem;
}
.card-text a:hover{text-decoration: underline;}

.card-text strong{
    color: #ffffffb7;
    font-variant-caps: all-petite-caps;
    font-size: 1.3rem;
}

.bannerHide{display: none;}





/*ASIDE*/
.divMaps h2{
    font-family: var(--font-2);
    color: rgb(199, 149, 56);
    font-variant-caps: small-caps;
    font-weight: 700;
    text-shadow: 1px 1px 1px #2222226e;
}








/*FOOTER*/

footer{
    background-image: url(img/others/backgroundFooter.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .filter{
    background-color: #222222e5;
}

.linkFooter{
    color: rgb(223, 174, 85);
    font-family: var(--font-3);
    font-size: 1.2rem;
}

.linkFooter:hover{ opacity: 60%;}

footer form span{ font-family: var(--font-4);}


.divUnderFooter{
     background-color: var(--color5);   
}

.iconsMidias{ 
    font-size: 30px;
    margin: 5px;
    color: #222222de;
}

.iconsMidias:hover{ opacity: 70%;}



/* END PAGE HOME */








/* PAGE MENU*/

.card{
    background-color: rgba(15, 63, 15, 0.171);
}

.card-title{
    font-family: var(--font-3);
    text-shadow: 1px 1px 1px #2222222a;
    font-size: 1.5rem;
    color: #222;
}

.card-text{
    font-family: var(--font-2);
    color: #222222e1;
    font-size: 0.8rem;
    font-style: italic;
}
.price{
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: var(--color5);
    background-color: var(--color1);
    font-family: var(--font-3);
    padding: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #22222270;
    border-radius: 50%;
}


.card-footer a{
    font-family: var(--font-5);
    text-shadow: 1px 1px 1px #222;
    box-shadow: 2px 2px 2px #222;

}





