@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root{
    --color1:#4F698C;
    --color2:#467302; 
    --color3:#BF9E60;
    --color4:#593C19;
    --color5:#BF3326;
    --color6:#22614E;
    --color7:#693524;
    --color8:#101112;
    --color9:#7BA1C9;

    --font-1: 'Bungee', cursive ;
    --font-2: 'PT Sans Narrow', sans-serif; ;
    --font-3: 'Bebas Neue', cursive;
    --font-4: 'Anton', sans-serif;
    --font-5: 'Rubik Moonrocks', cursive;
}

*{ margin: 0; padding: 0; box-sizing: border-box;}

html{ scroll-behavior: smooth;}


main { margin-top: 80px;}

main article { 
    width: 85%;
    margin: auto;
    border-bottom: 1px solid rgba(34, 34, 34, 0.233);
}
main article h1 { 
    text-align: center;
    padding-top: 1rem;
    font-family: var(--font-1);
    color: rgba(34, 34, 34, 0.39);
    font-size: 4rem;
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.712);
}
main article p{
    text-align: center;
    text-align-last: center;
    font-family: var(--font-2);
    font-size: 2rem;
    color: rgba(34, 34, 34, 0.63);
    padding-bottom: 4rem;
}




main section {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    height: auto;
}
main section #informations{
    width: 50%; 
    height: 100%;    
    text-align: center;
    padding-top: 4rem;
    background-color: rgba(255, 255, 255, 0.295);
    padding-left: 2rem;
}

main section #informations h2 {
        color: rgba(34, 34, 34, 0.849);
        font-family: var(--font-3);
        font-size: 2rem;
        padding: .5rem;
        text-align: left;
}
main section #informations h5 {
    color: #222;
    font-family: var(--font-2);
    font-size: 1.2rem;
    padding: .5rem;
    text-align: left;
}

main section #informations p{
    display: flex;
    text-align: center;
    gap: 1rem;
    justify-content: left;
}

main section #informations img {  margin-bottom: 1rem;  }

main section #informations a{
    margin-top: 3px;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.74);
    font-size: 1.1rem;   
    font-family: var(--font-4);
}
main section #informations  a:hover{  text-decoration: underline;  color: #222;  }



main section #map{
    flex: 1;
    height: auto;
}
main section #map iframe{
    width: 100%;  height: 100%;
}





/*  MEDIA QUERY  */


@media screen and (max-width: 950px) {
    
    main article h1 { font-size: 3rem; padding-top: 1rem;  } 

    main article p{   padding-bottom: 2rem;  font-size: 1.5rem;  }

    main section {
        margin-top: 1rem;
        padding: 0;
        display: block;
}

    main section #informations {  width: 90%;   margin: auto;  margin-bottom: .5rem;   }
    main section #map          {  width: 90%;   margin: auto;  margin-bottom: .5rem;    height: 600px;   }

}



@media screen and (max-width: 500px) {
    
    main article h1 { font-size: 2rem; padding-top: .9rem;  } 

    main article p{   padding-bottom: 1rem;  font-size: 1rem;  }


    main section #informations {  
        width: 95%;   
        margin: auto;  
        margin-bottom: .5rem;  
        padding-top: 2rem;  
        padding-left: 1rem;
    }
    main section #informations  h2 { font-size: 1.5rem;}

    main section #informations h5 { font-size: 1rem;}

    main section #informations img { width: 20px; height: 20px; }

    main section #informations a { font-size: .8rem; }


    main section #map    {   width: 95%;   height: 500px; }



}