@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root{
    --color1:#4F698C;
    --color2:#467302; 
    --color3:#BF9E60;
    --color4:#593C19;
    --color5:#BF3326;
    --color6:#22614E;
    --color7:#693524;
    --color8:#101112;
    --color9:#7BA1C9;

    --font-1: 'Bungee', cursive ;
    --font-2: 'PT Sans Narrow', sans-serif; ;
    --font-3: 'Bebas Neue', cursive;
    --font-4: 'Anton', sans-serif;
    --font-5: 'Rubik Moonrocks', cursive;
}

*{ margin: 0; padding: 0; box-sizing: border-box;}

html{ scroll-behavior: smooth;}

body{
    color: #fff;
    background-color: var(--color6);
}

#btn-check{ display: none;}

#btn-check:checked ~ header nav ul{ top: 0;}

header{
    background-color: #22614E;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    top: 0;
}
header nav{
   width: 100%;
   height: auto;
}

header nav ul {
    background-color: #22614E;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    transition: all .8s linear;
}

header ul li{ list-style: none;}

header li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.795);
    display: block;
    text-shadow: 2px 2px 2px #222;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-4);
    transition: all .3s linear;
}
header li a:hover{
    background-color: #bf9e6088;
    border-radius: 5px;
    text-shadow: none;
}

#burguer{
    position: absolute;
    padding: 35px;
    z-index: 10;
    cursor: pointer;
    display: none;
}

#logo{
    text-decoration: none;
    color: #c7b084;
    text-shadow: 2px 2px 5px #222;
    font-family: var(--font-1);
    font-size: 4rem;
    transition: all .7s linear;
    position: absolute;
    right: 6%;
    top: -20px;
}
#logo:hover{ color: #fff; }

section{
   margin-top: 150px;
   display: flex;
   justify-content: center;
   gap: 1rem;
}
section .img{
    width: 450px;
    height: 700px;
}
section .img img{
    width: 450px;
    height: 100%;
}
section .info{
    width: 450px;
    height: 700px;
    background-color: #101112c0;
    padding: 1rem;
}
section .info h1{
    margin-top: 2rem;
    background-color: #22614E;
    border-radius: 2px;
    color: #c7b084;
    padding: .5rem;
    font-family: var(--font-3);
    font-size: 2rem;
    border-right: 10px solid var(--color3);
    letter-spacing: 2.5px;
}
section .info p{
    margin-top: 2rem;
    text-align: justify;
    font-family: var(--font-4);
    color: rgba(255, 255, 255, 0.829);
    line-height: 2.5;
    font-size: 1rem;
}







/*  CONTAINER PHOTO   STARTED */



main #containerImage {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main #containerImage h2{
    text-align: center;
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    font-size: 4rem;
    padding: 1rem;
    color: rgba(34, 34, 34, 0.774);
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.664);
    letter-spacing: 2px;
}

main #containerImage #fotos{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

main #containerImage #fotos div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 20%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #containerImage #fotos .foto1{
    background-image: url(imagens/1-imagePasta5.png);
}
main #containerImage #fotos .foto2{
    background-image: url(imagens/1-imageCake5.png);
}
main #containerImage #fotos .foto3{
    background-image: url(imagens/1-imageBread1.png);
}
main #containerImage #fotos .foto4{
    background-image: url(imagens/1-imageBurguer2.png);
}

main #containerImage #fotos a{
    font-family: var(--font-3);
    font-size: 4rem;
    text-decoration: none;
    color: var(--color6 ) ;
    font-weight: 500;
}

main #containerImage #fotos a:hover{
    color: var(--color7);
    font-weight: 700;
}




/*  CONTAINER PHOTO FINISHED */













/* CONTAINERTXT FIRST   STARTED */


main #containerTxt{
    
    padding: 1rem;
}
main #containerTxt h2{
    text-align: center;
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    font-size: 3rem;
    padding: 1rem;
    color: rgba(34, 34, 34, 0.774);
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.664);
    letter-spacing: 2px;
}
main #containerTxt p{
    padding: 1rem;
    color: #222;
    font-family: var(--font-2);
    text-align: center;
    text-align-last: center;
    font-size: 1.5rem;
}

main #containerTxt #ourProducts{
    text-align: center;
    margin: 2rem;
}

main #containerTxt #ourProducts a{
    text-decoration: none;
    color: #101112c4;
    font-family: var(--font-4);
    font-variant-caps: petite-caps;
    font-size: 2rem;
    letter-spacing: 4px;
    outline: 1px solid rgba(34, 34, 34, 0.534);
    outline-offset: 2.5px;
    padding: 1rem;
    transition: all .5s linear;
    background-color: #2222;
}

main #containerTxt #ourProducts a:hover{
    background-color: #101112;
    color: #fff;
}




/* CONTAINERTXT   FINESHED */







/* SWIPER  STARTED   BIG SIZE  */

main #containerSwiper{
    width: 100%;
    height: auto;
    text-align: center;
}

main #containerSwiper  .swiper{
    width: 100%;
    height: fit-content;
}

main  #containerSwiper .swiper .swiper-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .swiper-button-prev{ color: #22614E}
main .swiper-button-next{ color: #22614E}

main .swiper .swiper-pagination-bullet-active{
    background-color:  #22614E;
}

/* SWIPER  FINISHED  BIG SIZE */

/* SWIPER  STARTED   SMALL SIZE  */

main .containerSwiperSmall { display: none;}
main #containerSwiper{
    width: 100%;
    height: auto;
    text-align: center;
}

main .containerSwiperSmall { display: none;}

main  #containerSwiper .swiper .swiper-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .swiper-button-prev{ color: #22614E}
main .swiper-button-next{ color: #22614E}

main .swiper .swiper-pagination-bullet-active{
    background-color:  #22614E;
}

/* SWIPER  FINISHED  SMALL SIZE */











/*  ARTICLE STARTED  */


main article{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

article h2{
    text-align: center;
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 2rem;
    color: rgba(34, 34, 34, 0.774);
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.664);
    letter-spacing: 2px;
}
article #partner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

article #partner div{
    width: 500px;
    height: 650px;
}

article #partner #photoPartner img{
    width: 100%;
    height: 100%;
}
article #partner #infoPartner{
    background-color: #22614eda;
    padding: 1rem;
}

article #infoPartner h3{
    padding: 1rem;
    font-family: var(--font-4);
    font-size: 2.2rem;
    color: #e6dfd2;
    text-shadow: 2px 2px 2px #222;
}
article #infoPartner p{
    font-family: var(--font-2);
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: justify;
}


/*  ARTICLE FINESHED  */




/*  ASIDE STARTED */


aside{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

aside h3{
     text-align: center;
    font-family: var(--font-4);
    font-variant-caps: all-petite-caps;
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 2rem;
    color: rgba(34, 34, 34, 0.774);
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.664);
    letter-spacing: 2px;
}

aside #boxImage{
    margin: auto;
    width: 70%;
    height: 60vh;
    display: flex;
}
aside #boxImage div{
    width: 25%;
    height: 100%;
    padding: 1px;
}

aside #boxImage div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside #boxImage div a{
    transition:  all .5s lineal;
}

aside #boxImage div a:hover{
    opacity: .6;
}


/*  ASIDE FINESHED */










/*  FOOTER STATRED */


footer{
    width: 100%;
    height: auto;
    background-color: #101112;
    padding: 1rem;
}

footer h5{
    color: rgba(255, 255, 255, 0.842);
    text-align: center;
    font-family: var(--font-3);
    font-size: 4rem;
}

footer #divFooter{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

footer #divFooter div{
    padding: 4rem;
    
}

footer #duvFooter .sideOne{ width: 50%;}
footer #duvFooter .sideOne{ flex: 1;}


footer #divFooter div h6{
    font-family: var(--font-3);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.623);
}

footer #divFooter div p{
    font-family: var(--font-2);
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.74);
}
footer a{
    text-decoration: none;
    color: #BF9E60;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}


footer .localization {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer .localization h6{
    padding: 2rem;
    text-align: center;
    font-family: var(--font-3);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.596);
}


footer .localization iframe{
    width: 100%;
    height: 700px;
}


/*  FOOTER FINISHED */
